<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">RSVP</h1>
                <hr class="primary">
                <p>Please tell us via email if you can or can't make it - by 31st August 2017.</p>
                <p>Please note this is an adults-only occasion.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-4 text-center">
          <a href="mailto:{{ site.carolineemail }}?subject=RSVP">
                <i class="fa fa-female fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <pstyle="margin-left: -22px;">{{ site.carolineemail }}</p>
            </a>
        </div>
        <!-- <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}?subject=RSVP">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p style="margin-left: -22px;">{{ site.email }}</p>
            </a>
        </div> -->
        <div class="col-lg-2 text-center">
<a href="mailto:{{ site.calebemail }}?subject=RSVP">
            <i class="fa fa-male fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <pstyle="margin-left: -22px;">{{ site.calebemail }}</p>
            </a>
        </div>

    </div>
</section>
