<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">RSVP</h1>
                <hr class="primary">
                <p>RSVP to the details below. Any questions about the day or if you have any special requirements please get in touch.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
<a href="mailto:{{ site.email }}?subject=RSVP">
                <i class="fa fa-female fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.carolinephone }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}?subject=RSVP">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p style="margin-left: -22px;">{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
<a href="mailto:{{ site.email }}?subject=RSVP">
            <i class="fa fa-male fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.calebphone }}</p>
            </a>
        </div>

    </div>
</section>
