<section class="bg-trianglify" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">FAQs</h1>
                <hr class="primary">
                <p>Drinks - We've got it covered!</p>
                <hr class="primary">
                <p>Food - There will be plenty of food going around, but it's not a sit-down event, so we do advise you to have a meal beforehand.</p>
                <hr class="primary">
                <p>After Midnight - We've got a room until just past midnight.
                  If you would like to kick on, The Gallery is hosting a ticketed event on the rooftop and will be free for us to enter after 12.
                We cannot guarantee entry but we can advise on this closer to the time.</p>
                <hr class="primary">
                <p>Travel - We asked the SA government to provide you with free public transport after midnight for this event - they agreed!.
                If you would rather catch a taxi there are supervised taxi ranks around the CBD. The closest are located at:
              King William St entrance to Rundle Mall, Corner of Morphett St & Hindley St, North Terrace entrance to Adelaide Casino.</p>
              <hr class="primary">
              <p>Dress code - Party wear.</p>
            </div>
        </div>
    </div>
</section>
