<!--<header>
    <div class="header-content">
        <div class="header-content-inner" style="margin-right: 0px; margin-left: 30%">
          <h1>Emily & Jim are getting married!</h1>
          <h3>Please browse the website for full details of the day...</h3>
        </div>
    </div>
</header> -->

<header>
    <div class="header-content">
        <div class="header-content-inner" style="margin-top: 0px;"">
          <h1 style="font-size: 30px;">Caroline &amp; Caleb are getting married!</h1>
          <h2>After the private ceromny, please join us in celebrating our wedding</h2>
        </div>
    </div>
</header>
