<!--<header>
    <div class="header-content">
        <div class="header-content-inner" style="margin-right: 0px; margin-left: 30%">
          <h1>Emily & Jim are getting married!</h1>
          <h3>Please browse the website for full details of the day...</h3>
        </div>
    </div>
</header> -->

<header>
    <div class="header-content" style="top: 40%">
        <div class="header-content-inner">
          <h3 style="font-size: 30px;">Caroline &amp; Caleb are getting married!</h3>
          <h3>Please browse the website for full details of the day...</h3>
        </div>
    </div>
</header>
