<section style="padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- <h1 class="section-heading">Kangaroo...</h1>
                <hr class="primary"> -->
                <p>We'd love the chance to hang out with you in the New Year.
                  We've booked some holiday accommodation and would love it if you would join us at Island Beach,
                  Kangaroo Island from 2nd-5th Jan 2018.
                We've got accommodation covered, so it would be great if everyone chips in for transport to the island,
              food, wine and fun! Please let us know in the RSVP if you can or can't make it.</p>
            </div>
        </div>
    </div>
</section>
