<section class="bg-getting" id="venue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">19:30 New Years Eve 2017</h1>
                <hr class="light">
                <h3>Adelaide CBD</h3>
                <h3>Venue to be confirmed</h3>
                <!-- <h3> Level 1 - The Gallery Room</h3>
                <h3>The Gallery, 30 Waymouth Street, Adelaide</h3> -->
            </div>
        </div>
    </div>
</section>
