<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav_in.html %}
  {% include header.html %}
  {% include getting.html name='Mike & Sam' %}
  {% include col1.html %}
  {% include intro.html %}
  {% include col2.html %}
  {% include venue.html %}
  {% include music.html %}
  {% include tobring.html %}
  {% include contact.html %}
  {% include faq.html %}
  {% include kangaroo_text.html %}
  {% include kangaroo.html %}
  {% include scripts.html %}
</body>

</html>
